.git/
.gitignore
.gcloudignore
frontend-react/
.vscode/

# Ignore local files and caches
python-commenter.mjs
backend-python/stored_attachments/
backend-python/**/__pycache__/
backend-python/config/translator.py