# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / React dependencies
node_modules/
dist/
build/
dist-ssr/
.pnpm-store/

# Python environment & caches
.venv/
venv/
ENV/
**/__pycache__/
**/*.pyc

# Secret files / Local configuration
.env
.env.local
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Heavy files / Attachments (Videos, screenshots, zips...)
backend-python/stored_attachments/
**/*.mp4
**/*.png
**/*.zip